{% extends 'layout.html' %}
{% block content %}
    
    <div class="container">
    <div class="row justify-content-center">
            <div class="col col-lg-5">
                <div class="container logout-heading"> 
                    <a class="btn btn-sm btn-danger logout" href="{% url 'logout' %}">Logout</a>
                </div>
                <div class="container welcome-heading"> 
                    <h3 class="welcome-txt">Welcome <b>{{user}}!</b></h3>
                
                </div>
        </div>
    </div>   
    
    <div class="row justify-content-center">
    <div class="col col-lg-5 ">
    <div class="container todoform">
        <form action="/addTodoItem/" method = "post">
            {% csrf_token %}
            <div class="row">
            <div class="form-group col col-lg-10">
                <input type="text" name="title"  id="task" class="form-control" placeholder="Enter Task">
            </div>

            <div class="form-group col col-lg-2">
                <button type="submit" class="btn  btn-warning"><i class="fas fa-plus"></i></button>
            </div>  
             
            </div>
        </form>
    </div>
    </div>
    </div>

    <div class="row justify-content-center ">
    <div class=" col col-lg-5">
    <div class="table-row">
        <table class="table table-hover table-bordered table-striped">
            <tbody>
            {% for i in alltodoitems %}
            <tr>
                <td>
                    <div class="ops">
                    <a  href="{% url 'update' i.id %}"><i class="fas fa-edit"></i></a>             
                    <a  href="{% url 'complete' i.id %}"><i class="fas fa-check"></i></a>
                    <a  href="{% url 'undone' i.id %}"><i class="fas fa-clock"></i></a>
                    <a  href="{% url 'delete' i.id %}"><i class="fas fa-trash-alt"></i></a>
                    
                    </div>

                    {% if i.is_completed == True %}
			        <strike>{{i.title}}</strike>
			        {% else %}
			        <span>{{i.title}}</span>
			        {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody> 
    </table>
   </div>
</div>
</div>
</div>

{% endblock %}